<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-place-autocomplete" version="1.0.0">
  <name>Google Maps Place Autocomplete Dialog</name>
  <description>Native Google Maps PlaceAutocomplete plugin for Cordova.</description>
  <license>MIT</license>
  <keywords>cordova,plugin,google,maps,place,autocomplete,dialog,android</keywords>
  <repo>https://github.com/ertgl/cordova-plugin-place-autocomplete</repo>
  <issue>https://github.com/ertgl/cordova-plugin-place-autocomplete/issues</issue>

  <js-module name="GooglePlaces" src="www/PlaceAutocompleteDialog.js">
       <merges target="cordova.plugins.google.places" />
  </js-module>
  
  <engines>
    <engine name="cordova" version=">=3.6.0" />
  </engines>

  <platform name="android">
    <dependency id="cordova-androidx-build" />
    <framework src="src/android/PlaceAutocompleteDialog.gradle" custom="true" type="gradleReference" />

    <source-file src="src/android/cordova/plugins/gms/places/PlacesPlugin.java" target-dir="src/cordova/plugins/gms/places" />
        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
        
    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GooglePlaces">
                <param name="android-package" value="by.chemerisuk.cordova.google.PlacesPlugin" />
            </feature>
        </config-file>
  </platform>
</plugin>
